{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
  <h1>EXERCISES</h1>

  <!-- Exercises Section -->
  <section class="exercises">
    <div class="exercise">
      <img src="{{ url_for('static', filename='images/shoulder_press.png') }}" alt="Shoulder Press" class="exercise-img">
      <div class="exercise-info">
        <h3>Shoulder Press</h3>
        <p>Improve your shoulder strength and stability with this classic exercise.</p>
      </div>
    </div>
    <div class="exercise">
      <img src="{{ url_for('static', filename='images/chest_press.png') }}" alt="Chest Press" class="exercise-img">
      <div class="exercise-info">
        <h3>Chest Press</h3>
        <p>Enhance your chest muscles and upper body strength with this effective move.</p>
      </div>
    </div>
  </section>
{% endblock %}
