{% extends "base.html" %} 
{% block title %}Sign-up{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Welcome, please create your account.</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email"/>
    </div>
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your full name"/>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter your current address."/>
    </div>
    <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter your date of birth"/>
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="passwordTemp" name="passwordTemp" placeholder="Enter your password."/>
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Re-enter your password."/>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
<div style="padding-top: 20px;"></div>

<script>
    // JavaScript to toggle the visibility of the employee fields
    document.addEventListener('DOMContentLoaded', function() {
        var userTypeRadios = document.getElementsByName('userType');
        var employeeFields = document.getElementById('employeeFields');

        var toggleEmployeeFields = function() {
            if(document.getElementById('employee').checked) {
                employeeFields.style.display = 'block';
            } else {
                employeeFields.style.display = 'none';
            }
        };

        Array.prototype.forEach.call(userTypeRadios, function(radio) {
            radio.addEventListener('change', toggleEmployeeFields);
        });
    });
</script>
{% endblock %}